*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
.container-inicio{
    width: 80%;
	margin: 200px auto;
    display: grid;
    text-align: center;
}
.container-gatos{
    display: flex;
    gap: 50px;
}
.col{
    padding: 20px;
    align-items: center;
}
.destacado{
    text-align: center;
    color: #758467;
}
.card {
	border-radius: 10px;
    min-width: 500px;
	min-height: 500px;
	padding: 100px;
    margin-top:100px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	
}
.contenedor-galeria {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
}
.img-destacado{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #819171;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #cbd5c0;
  }
  
  .container {
    width: 80%;
	margin: 200px auto;
    display: grid;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}
.txtBlog{
    text-align: left;
}
