h1 {
    color: $colorSecundario
}

.container-inicio {
    width: 80%;
    margin: 200px auto;
    display: grid;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
  }
  

  @media (max-width: 1010px) {
    .flex-container {
      flex-direction: column;
      width: 160px;
    }
  }

main {
    .container-fluid {
        display: flex;
        gap: 50px;
        background-color: $colorAcento;


        .row {
            .col {
                .img-destacado {
                    width: 300px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .col {
                .img-destacado {
                    width: 300px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .col {
                .img-destacado {
                    width: 300px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        .row2 {
            .col {
                .destacado {
                    text-align: center;
                    color: $colorPrincipal;
                }
            }

            .col {
                .destacado {
                    text-align: center;
                    color: $colorPrincipal;
                }
            }

            .col {
                .destacado {
                    text-align: center;
                    color: $colorPrincipal;
                }
            }
        }

    }
}